/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header top section start */

.header_top_section {
    width: 100%;
    display: flex;
    background-color: #0fbdd7;
    height: auto;
    padding: 20px 0px;
}

.header_top_main {
    display: flex;
}

.call_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
}

.call_text a {
    color: #ffffff;
}

.call_text a:hover {
    color: #252525;
}

.call_text_1 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
}

.call_text_1 a {
    color: #ffffff;
}

.call_text_1 a:hover {
    color: #252525;
}

.call_text_2 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    text-align: center;
}

.call_text_2 a {
    color: #ffffff;
}

.call_text_2 a:hover {
    color: #252525;
}

.padding_left_15 {
    padding-left: 10px;
}


/* header top section end */


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: transparent !important;
}

.logo {
    width: 27%;
    float: left;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    color: #fcfefe;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 40px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #0fbdd7;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    background-color: #0fbdd7;
}

.navbar {
    padding: 30px 0px 30px 0px;
}

.search_icon ul {
    margin: 0px;
    padding: 0px;
}

.search_icon li {
    float: left;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 0px 0px 30px;
}

.search_icon li a {
    color: #ffffff;
}

.search_icon li a:hover {
    color: #00eaff;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding: 100px 0px;
}

.banner_taital_main {
    width: 43%;
    float: left;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
    line-height: 70px;
    font-family: 'Sen', sans-serif;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.btn_main {
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.contact_bt {
    width: 170px;
    float: left;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    background-color: #ffffff;
    padding: 8px 10px;
    text-align: center;
    font-weight: 600;
}

.contact_bt a:hover {
    color: #ffffff;
    background-color: #0fbdd7;
}

.carousel-inner,
.carousel,
.carousel-item,
.container,
.fill {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.banner_section .carousel-inner>.carousel-item.carousel-item-next,
.banner_section .carousel-inner>.carousel-item.active.carousel-item-right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
}

.banner_section .carousel-inner>.carousel-item.carousel-item-prev,
.banner_section .carousel-inner>.carousel-item.active.carousel-item-left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
}

.banner_section .carousel-inner>.carousel-item.next.carousel-item-left,
.banner_section .carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right,
.banner_section .carousel-inner>.carousel-item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    ;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}


/*------------------------------- vertical carousel indicators ------------------------------*/

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0fbdd7
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: #ffffff;
}


/* banner section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3a3a;
    font-weight: bold;
    padding-top: 50px;
}

.about_img img {
    height: 370px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #5a5959;
    margin: 0px;
}

.read_bt_1 {
    width: 180px;
    float: left;
    margin-top: 20px;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    background-color: #0fbdd7;
    color: #ffffff;
    padding: 10px 0px;
}

.read_bt_1 a:hover {
    background-color: #131550;
    color: #ffffff;
}

.about_img {
    width: 100%;
}


/* about section end */


/* services section start */

.services_section {
    width: 100%;
    float: left;
    background-color: #192955;
    height: auto;
    background-size: 100%;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.services_text {
    width: 100%;
    font-size: 14px;
    margin: 0px;
    color: #fff;
    padding-top: 20px;
    text-align: center;
}

.services_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #192955;
    height: auto;
    padding: 40px 20px 0px 20px;
}

.box_main:hover {
    background-color: #0fbdd7;
}

.service_img {
    width: 30%;
    margin: 0 auto;
    min-height: 71px;
}

.development_text {
    width: 100%;
    font-size: 24px;
    color: #fdfdfd;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.box_main:hover .readmore_bt {
    display: block;
}

.box_main.active {
    background-color: #0fbdd7;
}

.box_main .readmore_bt.active {
    display: block;
}

.readmore_bt {
    width: 140px;
    margin: 0 auto;
    padding-top: 99px;
    position: relative;
    top: 12px;
    display: none;
}

.readmore_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #192955;
    padding: 15px 20px;
    margin-top: 10px;
}

.readmore_bt a:hover {
    background-color: #252525;
    color: #ffffff;
}


/* services section end */


/* portfolio section start */

.portfolio_section {
    width: 100%;
    float: left;
}

.portfolio_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #192955;
    font-weight: bold;
    text-align: center;
}

.portfolio_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #5a5959;
    margin: 0px;
    text-align: center;
}

.portfolio_section_2 {
    padding: 50px 0px;
    width: 100%;
}

.pets_section_2 {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(45, 45, 45, 0.5);
    margin: 0 auto;
}

.container_main {
    position: relative;
}

.container_main:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

.some_text {
    color: #fefefd;
    text-align: center;
    font-size: 20px;
    padding-bottom: 0;
    font-weight: bold;
    font-family: 'Sen', sans-serif;
}

i.fa.fa-link {
    background: #0fbdd7;
    padding: 20px 20px 18px 20px;
    border-radius: 100%;
}

/* portfolio section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #0d114e;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
}

.contact_section_2 {
    width: 100%;
    float: left;
    background-color: #192955;
    height: auto;
    padding: 75px 0px 90px 0px;
}

.mail_section {
    width: 100%;
    float: left;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4f4e4e;
    background-color: #ffffff;
    padding: 14px 15px;
    margin-top: 20px;
    border: 0px;
}

input.mail_text::placeholder {
    color: #4f4e4e;
}

.massage-bt {
    color: #4f4e4e;
    width: 100%;
    height: 130px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 40px 15px 0px 15px;
    margin-top: 20px;
    border: 0px;
}

textarea#comment::placeholder {
    color: #4f4e4e;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #0fbdd7;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    display: block;
}

.send_bt a:hover {
    color: #232222;
    background-color: #ffffff;
}

.map_main {
    width: 100%;
    float: left;
}


/* contact section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #181818;
    height: auto;
    padding-bottom: 50px;
}

.footer_section_2 {
    width: 100%;
    float: left;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
}

.location_text a:hover {
    color: #15b0b6;
}

.dummy_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px 0px;
}

.social_icon {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 0px 0px;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    margin-top: 10px;
}

.social_icon li a:hover {
    background-color: #15b0b6;
    color: #ffffff;
}

.update_mail {
    color: #918f8f;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 10px;
}

.subscribe_bt {
    width: 140px;
    float: left;
    padding-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #252525;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: #ffffff;
    background-color: #0fbdd7;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li a {
    font-size: 16px;
    color: #ffffff;
    padding: 0px 0px 10px 0px;
    display: block;
}

.footer_menu li a:hover {
    color: #0fbdd7;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 15px 0px;
    color: #252525;
    text-align: center;
}

.copyright_text a {
    color: #252525;
}

.copyright_text a:hover {
    color: #0fbdd7;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}
.margin90 {
    margin: 90px 0px;
}